{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="titreSite">
                    <h1> ProStage </h1>
                </div>
                <div class="titrePage">
                    <h2>{{titrePage}}</h2>
                </div>
            </div>
            <div class="optionsRecherches">
                <h3> Recherche par entreprise ({{entrepriseCherche}}) </h3>
            </div>

            {% for stage in stages %}
                <div class="offreStage">
                    <div class="gauche">
                        <div class="titreOffre">
                            <h3> {{stage.titre}} </h3>
                        </div>
                    </div>
                    <div class="centre">
                        <div class="centreHaut">
                            <h4> Formation : </h4>
                                {% for formation in stage.formations}
                                <h6><a href="/formations/{{formation.id}}"> {{formation.nomCourt}} </a></h6>
                                {% endfor %}
                            <h6>
                        </div>
                        <div class="centreBas">
                            <h4> Entreprise : </h4>
                            <h6><a href="/entreprises/{{entreprise.id}}"> {{entreprise.nom}} </a></h6>
                        </div>
                    </div>
                    <div class="droite">
                        <button onclick="location.href='http://127.0.0.1:8000/stages/{#{{stage.id}}#}'" type="button">Plus d'informations</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
{% endblock %}
