{% extends 'base.html.twig' %}

{% block title %}
    Entreprises
{% endblock %}


{% block body %}
    <html>
        <head>
            <title>
                Accueil
            </title>
        </head>
        <body>
            <div class="main">
                <div class="header">
                    <div class="titrePage">
                        <h2>
                            Recherche par entreprise 
                        </h2>
                    </div>
                </div>
                <div class="optionsRecherches">
                    <h3>
                        Stage de l'entreprise 
                        {{ entrepriseCherche }}
                         
                    </h3>
                </div>

                <div class="container">
                    <hr>
                    {% for stage in stages %}
                        <div class="row">
                            <div class="col">
                                <h3>
                                    {{ stage.titre }}
                                </h3>
                            </div>

                            <div class="col">
                                <h4>
                                    Formation :                                                                                               
                                                                                                        
                                                                    
                                </h4>
                                {% for formation in stage.formations %}
                                    <h5>
                                        <a href="{{path('pro_stages-formations', {'id':formation.id}) }}">
                                            {{ formation.nomCourt }}
                                        </a>
                                    </h5>
                                {% endfor %}
                            </div>
                            <div class="col">
                                <h4>
                                    Entreprise :                                  
                                                                                                        
                                                                    
                                </h4>
                                <h5>
                                    <a href="{{path('pro_stages-entreprises', {'id':stage.entreprise.id }) }}">
                                        {{ stage.entreprise.nom }}
                                    </a>
                                </h5>
                            </div>
                            <div class="col my-auto">
                                <button onclick="location.href='{{path('pro_stages-stages', {'id':stage.id}) }}'" type="button">
                                    Plus d'informations                                                  
                                                                                                                                        
                                                                                                        
                                                                    
                                </button>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </body>
    </html>
{% endblock %}
