{% extends 'base.html.twig' %}

{% block title %}
    Accueil 
{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>
                Accueil
            </title>
        </head>
        <body>
            <div class="text-center">
                <h1>Bienvenue sur Prostage !<h1>
                <br>
                <h2> Que voulez-vous faire ? </h2> <br> <br>
            </div>
            <div id="listeBoutonsChoix" class="text-center"> 
                <a href="{{path('pro_stages-tous-les-stages')}}">
                    <button type="button" class="btn btn-primary">Voir tous les stages disponibles</button>
                </a>
            </div>
            <br><br>
            <div id="lesDeuxAutresPossibilites" class="container">
                <div class="row">
                    <div class="col-sm text-center"> 
                        <h4> Par entreprise </h4>
                        <div>
                            {% for entreprise in entreprises %}
                                <a href="{{path('pro_stages-entreprises', {'id':entreprise.id }) }}" class="">
                                        <button class="btn btn-outline-secondary m-2"> {{ entreprise.nom }} </button><br>
                                    </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm text-center"> 
                        <h4> Par formation</h4>
                        <div class="">
                            {% for formation in formations %}
                                <a href="{{path('pro_stages-formations', {'id':formation.id}) }}">
                                             <button class="btn btn-outline-secondary m-2"> {{ formation.nomCourt }} </button><br>
                                        </a>
                            {% endfor %}
                        </div>
                    
                    </div>
                </div>
            </div>

        </body>
    </html>
</div></body></html></body></html></div></body></html>{% endblock %}