{% extends 'base.html.twig' %}

{% block title %}
    Accueil
                        
                    
                
            
        
    
{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>
                Accueil
                                                                                                            
                                                                                            
                                                                            
                                                            
                                            
                            
            </title>
        </head>
        <body>
            <div class="main">
                <div class="header">
                    <div class="titreSite">
                        <h1>
                            ProStage                      
                                                                                                                                        
                                                                                                            
                                                                                
                                                    
                        </h1>
                    </div>
                    <div class="titrePage">
                        <h2>
                            {{ titrePage }}
                        </h2>
                    </div>
                </div>
                
                <div class="container">
                <hr>
                    {% for stage in stages %}
                        <div class="row">
                            <div class="col">
                                <h3>
                                    {{ stage.titre }}
                                </h3>
                            </div>

                            <div class="col">
                                <h4>
                                    Formation :                                                                                               
                                </h4>
                                {% for formation in stage.formations %}
                                    <h5>
                                        <a href="/formations/{{ formation.id }}">
                                            {{ formation.nomCourt }}
                                        </a>
                                    </h5>
                                {% endfor %}
                            </div>
                            <div class="col">
                                <h4>
                                    Entreprise :                                  
                                </h4>
                                <h5>
                                    <a href="/entreprises/{{ stage.entreprise.id }}">
                                        {{ stage.entreprise.nom }}
                                    </a>
                                </h5>
                            </div>
                            <div class="col my-auto">
                                <button onclick="location.href='http://127.0.0.1:8000/stages/{{ stage.id }}'" type="button">
                                    Plus d'informations                                                  
                                                                
                                </button>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </body>
    </html>
</div></body></html></body></html></div></body></html>{% endblock %}